$margin-inner: 25px;
$navbar-size: 200px;

md-navbar {
  margin-bottom: $navbar-size;

  nav {
    background-image: url('/assets/bg-head.jpg');
    background-position: center;
    background-size: 100%;
    height: $navbar-size;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .button-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .text{
        text-shadow: 1px 1px 15px black;
    }

    a {
      box-shadow: 1px 1px 3px 0 black;
      margin: 5px;

      i {
        line-height: inherit;
      }
    }
  }

  .header-inner {
    display: flex;
    flex-direction: row;

    .head-center {
      flex-grow: 1;

      .button-links {
        float: right;
        margin-right: $margin-inner;
        margin-top: 3px;
        text-align: right;

        .email,
        .phone,
        .address {
          @media screen and (max-width: 710px) {
            & {
              display: none;
            }
          }

        }
      }
    }

    .head-left {
      display: block;
      line-height: normal;

      .button-link {
        margin-left: 15px;
        margin-top: 20px;
      }

      .subtitle,
      .title,
      .language-selector {
        display: inline-block;
        margin-left: $margin-inner;
        text-align: left;
        line-height: normal;
        text-shadow: 1px 1px 15px black;
        width: 100%;
      }

      .title {
        font-size: 1.8em;
        margin-top: $margin-inner;
      }

      .subtitle {
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }

    .head-right {
      border-radius: 50%;
      box-shadow: 0 0 12px 5px black;
      height: 150px;
      margin-right: $margin-inner;
      margin-top: $margin-inner;
      min-width: 150px;
      overflow: hidden;
      width: 150px;

      &:active {
        box-shadow: 0 0 5px 3px black;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

  }

}
