  .button-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .text{
        text-shadow: 1px 1px 15px black;
    }

    a {
      box-shadow: 1px 1px 3px 0 black;
      margin: 5px;
      i {
        line-height: inherit !important;
        width: 100%;
      }
    }
  }