.modal-container {

  .maps-modal {
    .modal-content{
      h4{
        text-align: left;
        color: #333;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1.5em;
        font-weight: lighter;
      }

      .modal-close{
        position:relative;
        top: -20px;
        left: 17px;
      }

      .mapFrame{
        width: 100%;
      }

    }
    
  }
}
