.job-container {
  & > .collapsible-header {

    display: flex;
    flex-direction: row;

    .separator {
      flex-grow: 1;
    }
  }

  & > .collapsible-body {

      &>.logo{
        margin: 10px;
      }

      &>.address{
          margin-left: 25px;
      }

    & > .description {
      min-height: 65px;
      text-align: justify;
    }
  }
}
