md-card > .au-target.card > .card-image {
  height: 80px;
}

.collapsible-header {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  .school-duration,
  .school-name {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .school-duration {
    text-align: right;
    min-width: 80px;
  }
}

.collapsible-body {
  padding: 15px;

  .address {
    .address-name {
      @media screen and (max-width: 700px) {
        display: none;
      }
    }

    google-map {
      display: inline-block;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}
