@media screen and (max-width: 600px) {
  body > router-view > cv-header > md-navbar.header-container > div.au-target > nav {
    height: 285px !important;
    background-repeat: no-repeat;
    background-size: cover;

    div.head-left {
      div.language-selector {
        a {
          padding: 5px 0 0 0;
          display: block;
        }
      }

      div.button-links {
        position: absolute;
      }
    }
  }
}
