@media print {
  
  .main-content{
	  padding: 0 !important;
  }
  
  .no-print,
  .no-print * {
    display: none !important;
  }

  .collapsible-body {
    display: block !important;
  }

  .print-one-page {
    page-break-inside: avoid;
  }
}
